<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ title or "Journal" }}</title>

  <link rel="stylesheet" href="/journal/style.css">
</head>

<body class="journal-site">

  <main class="journal-paper">
    {{ content | safe }}
  </main>

</body>
</html>
